<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <!--<link rel="shortcut icon" href="/f/i/favicon.ico" type="image/x-icon">-->
    <title>@(string.IsNullOrEmpty(ViewBag.HeadTitle) ? "//TODO: HeadTitle" : ViewBag.HeadTitle)</title>
</head>
<body>
    <div id="header">
        HEADER
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <div id="footer">
        FOOTER
        <!--<script src="~/js/startUp.js" asp-append-version="true"></script>-->
    </div>
    
</body>
</html>