@{
    ViewBag.HeadTitle = "Главная страница";
    Layout = "~/Views/Shared/_Layout.Core.cshtml";
}
<div>
    Main Index Page
    <ul>
        <li>
            <a href="./test">TestController</a>
        </li>
    </ul>
</div>

@section Header {
    Header from INDEX<br />
}