@model wwwmy.ViewModels.TestViewModel
@using wwwmy.HtmlHelpers;

@{
    Layout = "_Layout";
    ViewBag.HeadTitle = "Тестовая страница";
}
<div>
    Test Page<br />
    Get Id = @Model.Name<br />
    <div>
        appsettings.json section TestConfig:
        <ul>
            <li>Model.Options.Var1: @Model.Options.Var1</li>
            <li>Model.Options.Var2: @Model.Options.Var2</li>
        </ul>
    </div>
    @await Component.InvokeAsync("TestShared", new { someValue = 333 })
    @Html.CreateString("Тестовая строка html-хелпера 666")
    <a asp-controller="Main" asp-action="Index" asp-route-someId="someIdTest">Обратно через tag-helper</a>
</div>